/* Nav ver Section */
.nav-section {
    display: flex;
    justify-content: space-around;
    font-size: larger;
    padding: 15px;


}

.dwnl-btn {
    padding: 8px;

}








/*  In the near section*/
.bannar_section_bg {
    background-image: url("./Images/Hero-bg.png");
    width: auto;
    height: auto;
    padding-left: 400px;
    padding-top: 26px;
    padding-bottom: 44px;

}


.bannar_section_container {
    width: 400px;
    text-align: center;

}

.btn-1 {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}




/* Why Web Devolpoment section */
.web-devolepment-section,
.target {
    height: auto;
    background-color: rgb(230, 228, 227);
    margin: 10px 130px 10px 130px;
    padding: 30px 90px 30px 90px;


}

.text-1 {
    padding-left: 180px;
    width: 400px;
    text-align: center;
}


.web-devolopment-1 {

    display: flex;
    justify-content: space-between;
    border: 0px solid wheat;
    background-color: rgb(246, 240, 228);
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 15px 30px 2px 60px;


}

.web-devolopment-2 {
    display: flex;
    justify-content: right;
    border: 0px solid wheat;
    background-color: rgb(246, 240, 228);
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 15px 70px 2px 20px;


}

.web-devolopment-3 {
    display: flex;
    justify-content: space-between;
    border: 0px solid wheat;
    background-color: rgb(246, 240, 228);
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 15px 30px 2px 60px;

}

.btn-2 {
    padding: 5px;
}


/* My Inspiraztion Section */
.inspiation {
    height: 540px;
    background-color: rgb(255, 252, 246);
    margin: 10px 130px 10px 130px;
    padding: 30px 60px 30px 90px;
}

.you-toub-img {
    padding-left: 40px;
    border-radius: 10px;
}


/*My current Target section*/
.current-target_box>div {
    width: 200px;
    border: 0px solid;
    padding: 20px 2px 8px 20px;
    border-radius: 10px;


}

.current-target_box {
    display: flex;
    justify-content: space-around;

}

.target {
    height: 350px;
    background-color: rgb(255, 252, 246);
    margin: 10px 130px 10px 130px;
    padding: 10px 90px 30px 90px;
}


.box-1 {
    background-color: #f9f1f1;
}

.box-2 {
    background-color: rgb(218, 216, 214);
}

.box-3 {
    background-color: hsl(56, 68%, 87%);
}




/* I Need Support Section */
.text-fild {
    display: inline;
    gap: 20px;
}

#input-fild {
    width: 400px;
    border-radius: 6px;
    padding: 10px;
}

.text-fild>button {
    font-size: medium;
    width: 100px;
    padding: 10px;
    border-radius: 6px;
    border-style: none;
}

.support-section {

    margin: 20px 130px 20px 130px;
    background-image: url("./Images/handshake.jpg");
    padding: 20px 60px 50px 60px;
    width: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    border-radius: 10px;

}


/* Footer section */
.footer-section {
    height: 100px;
    background-color: rgb(239, 231, 231);
    color: black;
    margin: 10px 130px 00px 130px;
    padding: 10px 40px 10px 40px;
    display: flex;
    justify-content: space-around;


}

.dots {
    color: rgb(9, 89, 193);
}